table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 5px;
}

th {
  text-align: left;
}

.centered {
  margin: 0 auto;
  text-align: center;
  width: 500px;
}

.lefty {
  margin: 0 auto;
  text-align: left;
  width: 100%;
}

.lefty10 {
  margin: 0 auto;
  text-align: left;
  width: 10%;
}

.lefty15 {
  margin: 0 auto;
  text-align: left;
  width: 15%;
}

.lefty20 {
  margin: 0 auto;
  text-align: left;
  width: 20%;
}

.lefty30 {
  margin: 0 auto;
  text-align: left;
  width: 30%;
}

.lefty40 {
  margin: 0 auto;
  text-align: left;
  width: 40%;
}

.fancy {
  color: blue;
  font-size: 1em;
  font-weight: bold;
}

.fancy-button {
  color: green;
  font-size: 0.5em;
}

.normal {
  color: red;
  font-size: 12 px;
}

.right {
  margin: 0 auto;
  text-align: right;
  width: 100%;
}

input {
  text-align: 'left';
  size: "60";
}

tasktable {
  border: 0.5px;
  width: 90%;
}

.hidden {
  display: none !important;
}

.newlines {
  white-space: pre-line;
}

.row {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col {
  flex: 1 1 8%;
  margin: 0 0 0.5rem 0;
  padding: 0.5em 10px;
  box-sizing: border-box;
}

/* nested grids */
.row .row,
.row.nested {
  flex: 1 1 auto;
  margin-top: -0.5em;
}

/* full width grids */
.row.wide-fit {
  margin-left: -10px;
  margin-right: -10px;
}

/* center grids */
.row.center {
  justify-content: center;
}

.center .col {
  flex-grow: 0;
  flex-shrink: 0;
}

/* columns widths */

.col-span-1 {
  flex-basis: 8.3333%;
}

.col-span-2 {
  flex-basis: 16.6666%;
}

.col-span-3 {
  flex-basis: 25%;
}

.col-span-4 {
  flex-basis: 33.3333%;
}

.col-span-5 {
  flex-basis: 41.6666%;
}

.inputInvisible {
  border-width: 0px;
  border: none;
  box-shadow: none;
  margin: 0 auto;
  text-align: right;
  font-weight: lighter;
}

.inputInvisibleLeft {
  border-width: 0px;
  border: none;
  box-shadow: none;
  margin: 0 auto;
  text-align: left;
  font-weight: lighter;
}

.notestitle {
  border: none;
  box-shadow: none;
  margin: 0 auto;
  text-align: left;
  font-weight: lighter;
  background-color: lightgray;
}

.notes {
  border: none;
  box-shadow: none;
  margin: 0 auto;
  text-align: left;
  font-weight: bold;
  background-color: rgb(203, 219, 219);
}

.pointerCursor {
  cursor: pointer;
}
