table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
th {
    text-align: left;
}
.centered {
    margin: 0 auto;
    text-align: center;
    width: 400px;
}
.lefty{
    margin: 0 auto;
    text-align: left;
    width: 800px;
}