<h4> Password Management Form! </h4>

{{ passFormGrp.value | json }}

<form class="container" [formGroup]="passFormGrp" (ngSubmit)="onSubmit(passFormGrp.value)">
  
    <label for='oldpassword'>Old Password:</label>
    <input type="password" name="oldpassword" formControlName="oldpassword">
    <div *ngIf="oldpassword.touched && oldpassword.invalid" class="alert">
        <div *ngIf="oldpassword.errors.required">Old Password is required!</div>
        <div *ngIf="oldpassword.errors.invalidOldPassword">Password is invalid!</div>
    </div>
  
    <br>
    <label for='password'>New Password:</label>
    <input type="password" name="password" formControlName="password">
        <div *ngIf="password.touched && password.invalid" class="alert">
            <div *ngIf="password.errors.required">Password is required..</div>
            <div *ngIf="password.errors.minlength">Password should be {{ password.errors.minlength.required }} characters minimum</div>
        </div>
  
    <br>
    <label for='cfPassword'>Confirm Password:</label>
    <input type="password" name="cfPassword" formControlName="cfPassword">
        <div *ngIf="cfPassword.touched && cfPassword.invalid" class="alert">
            Password is required..
        </div>
    <div *ngIf="cfPassword.valid && passFormGrp.invalid && passFormGrp.errors.passwordsShouldMatch" class='alert'>
          Passwords do not match!  
    </div>    

    <br>
    <input type="submit" value="Change Password" [disabled]="!passFormGrp.valid">
</form>
