<div  class="centered">
    <h3 class="page-header" [ngStyle]="{'color':'blue'}"> {{ pageTitle }} </h3>
    <h5 [ngStyle]="{'color':'red'}">  {{ todos }} </h5>
</div>

<div class="row">
<div class="col col-span-3">

<form [formGroup]="form" (ngSubmit)="changePassword()">

<div class="form-group">
    <label>Current Password</label>
    <input type="password" formControlName="currentPassword" name="currentPassword" class="form-control">
    <div *ngIf="currentPassword.touched && currentPassword.invalid" class="alert alert-danger">
      <div *ngIf="currentPassword.errors.required">Password is required</div>
    </div>
</div>

<div class="form-group">
    <label>New Password</label>
    <input type="password" formControlName="newPassword" name="newPassword" class="form-control">
    <div *ngIf="newPassword.touched && newPassword.invalid" class="alert alert-danger">
      <div *ngIf="newPassword.errors.required">New Password is required</div>
      <div *ngIf="newPassword.errors.minlength">Minimum {{ newPassword.errors.minlength.requiredLength }} characters required</div>
    </div>
  </div>

  <div class="form-group">
    <label>Confirm Password</label>
    <input type="password" formControlName="confirmPassword" name="confirmPassword" class="form-control">
    <div *ngIf="confirmPassword.touched && confirmPassword.invalid" class="alert alert-danger">
      <div *ngIf="confirmPassword.errors.required">Confirmed Password is required</div>
    </div>

    <div *ngIf="confirmPassword.valid && form.invalid && form.errors && form.errors.passwordsShouldMatch" class="alert alert-danger">
      Passwords do not match..
    </div>
  </div>
  <input type="submit" class="btn btn-primary" value="Submit">
  <input type="submit" class="btn btn-primary" value="Cancel" (click)="cancel()">
</form>

</div>

<div class="col col-span-4">
</div>
<div class="col col-span-4">
</div>

<div class="col col-span-3">
</div>

</div>

